{{!< default}}

<div class="container">
    <header class="page-header author-header">
        {{#if primary_author.profile_image}}
            <img class="author-avatar" src="{{primary_author.profile_image}}" alt="{{primary_author.name}}">
        {{/if}}
        <h1 class="page-title">{{primary_author.name}}</h1>
        {{#if primary_author.bio}}
            <p class="page-description">{{primary_author.bio}}</p>
        {{/if}}
    </header>

    <div class="post-feed">
        {{#foreach posts}}
            {{> post-card}}
        {{/foreach}}
    </div>

    {{pagination}}
</div>
